
<button type="button" class="btn btn-primary"(click)="showStyle()">primary</button>
<div *ngIf="showFlag">
    <div class="card body"> this is some text data</div>
    
   
   
   <div class="container">

    <table class="table" border="4">
    <tr>
        
        <th>Id</th>
        <th>Title</th>
        <th>UserId</th>
        
        
        </tr>
        <tr *ngFor="let data of arrData" >
            <td>{{data.id}}</td>
            <td>{{data.title}}</td>
            <td>{{data.userId}}</td>
            <td>{{data.id}}</td>
            <td><button (click)="openModal(data) ">EDIT</button></td><br>
            <td><button (click)="deletemodel(data,id)">Delete</button></td>
            <td><button (click)="querymodel(data,id)">query</button></td>
        </tr>
    </table><br>
    
    <app-dashboard [item]="currentItem" (newItemEvent)="addItem($event)"  ></app-dashboard>
    <form [fromGroup]="formdata" onClickSubmit=(formdata.value) >
        <p> Enter your id   :
       <input type="text" placeholder="Enter id" name="id" class="form-Control" formcontrol="id"[value]="id"><br></p>
        <p>Enter your title:
        <input type="text" placeholder="update" name="title" class="form-Control" formcontrol="title"[value]="title"><br></p>
       <button type="button " class="btn btn-primary" (click)="updateData">Update</button></form>