


   <body>
    <div class="textbox">
        <h1>facebook</h1>
        <h2>Facebook helps you connect and share<br> with the people in your life.
        </h2>
    </div>
<div class="container">
    <form [formGroup]="forms">
        <div class="form-group">
            <label for="username" >Username:</label>
            <input type="text" formControlName="Username">
            <div class="error"*ngIf="forms.get('Username').invalid">Name is required! </div><br>
            <label for="password">PassWord:</label>
            <input type="text" formControlName="Password">
            <div class="error" *ngIf="forms.get('Password').invalid">password is required</div><br>
            <button type="submit" class="registerbtn" (click)="register()" ><a href="another.html">Facebook register</a></button>
            
        </div>
    </form>
   
</div>
   
</body>
