


   <body>
    <div class="textbox">
        <h1>facebook</h1>
        <h2>Facebook helps you connect and share<br> with the people in your life.
        </h2>
    </div>
<div class="container">
    <div class="form">
        <p><input type="text" name="username"class="text" placeholder="Enter Your Email or Phone number"><br></p>
        <p><input type="password"  name="password"class="text" placeholder="password"><br></p>
        
        <button type="submit" class="registerbtn"(click)="register()" ><a href="another.html">Facebook login</a></button>
        
    </div>
   
</div>
   
</body>
